body {
    background-color: #ece3f7;
    overflow: hidden;
}

.hr,
.min,
.sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vmin;
    grid-row: 1/2;
    align-items: start;
}

.number {
    user-select: none;
    width: 8vmin;
    height: 8vmin;
    display: grid;
    place-items: center;
    color: #f9fdfb;
    transition: all 500ms 100ms ease;
    border-radius: 50%;
}

.number.pop {
    color: #3e6ccb;
    font-weight: bold;
    transform: scale(1.3);
    background-color: #dfe6f6;
    box-shadow: -1vmin -1vmin 2vmin -0.5vmin #f9fbfd, 1vmin 1vmin 2vmin #a9bee8;
}

.strip {
    transition: transform 500ms ease-in-out;
    border-radius: 1.333333333333333333vmin;
    background-color: #dfe6f6;
    box-shadow: -1vmin -1vmin 2vmin -0.5vmin #f9fbfd, 1vmin 1vmin 2vmin #a9bee8;
}

.clock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8vmin;
    height: 4vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 4vmin;
}
